
.menu--product-categories{
    color: white !important;
}

.menu__toggle{
    color: white !important;
}

.menu__toggle i{
    color: white !important;
}

.menu__toggle span{
 color: white !important;
}

.menu--product-categories span{
    color: white !important;
   }