/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/shared/menus/menu.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.menu--dropdown a{  
    min-width: 260px;
    color: #000 !important;
    min-height: 36px;
    z-index: 999;
    font-weight:bold;
    font-size: 15px;
    text-transform: Capitalize;
  }

  .menu--product-categories {
    position: relative;
}

.menu--dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu--dropdown > li {
    position: relative;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1000;
}

